@charset "utf-8";

/* CSS Document */
body {
    margin: 0;
    padding: 0;
    padding-top: 16px;
    font-family: Arial;
    font-size: 13px;
}

input[type=text]
{
    border:solid 1px #5E685E;
}
input[type=submit]
{
    border:solid 1px #5E685E;
}
table {

}
.titleFil{
    font-size: 16px;
    font-weight: bold;
    padding:10px;
}
.titlePag {
    font-size: 20px;
    color: #5E685E;
}

.titleSubPag {
    font-size: 18px;
    color: #AAAAAA;
    font-weight: bold;
}
.textFooter
{
    color: #45535B;
    text-align:center;
}
tr.listtitle td {
    font-weight: bold;
    text-transform: uppercase;
    text-ident:5px;
    text-align:center;
    padding:3px;
}

tr.listtitle th {
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
}

.tableList {
    border-style: solid;
    border-width: 1px;
}

.tableList {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-style: solid;
    border-left-width: 1px;
    width:100%;
}

td.listtitle {
    font-weight: normal;
    text-transform: uppercase;
 
}

tr.listselected td {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-right-style: solid;
    border-right-width: 1px;
    padding: 3px;
    font-weight: normal;
    padding-top: 5px;
    padding-bottom: 5px;
}

tr.listitemeven td {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-right-style: solid;
    border-right-width: 1px;
    padding: 3px;
    font-weight: normal;
    padding-top: 5px;
    padding-bottom: 5px;
    @charset "utf-8";
}

tr.listitemeven td.borderright {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-right-style: solid;
    border-right-width: 1px;
    font-weight: normal;
   }

tr.listitemuneven td {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-right-style: solid;
    border-right-width: 1px;
    padding: 3px;
    font-weight: normal;
   
    padding-top: 5px;
    padding-bottom: 5px;
    @charset "utf-8";
}

tr.listitemuneven td.borderright {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-right-style: solid;
    border-right-width: 1px;
    font-weight: normal;
   
}

.tableList {
    border-color: #EDEDED;
}

.tableList {
    border-bottom-color: #EDEDED;
    border-left-color: #EDEDED;
}

tr.listtitle td {
    background-color: #fff;
    color: #5E685E;
}

tr.listtitle th {
    background-color: #fff;
    color: #5E685E;
}

td.listtitle {
    background-color: #fff;
    color: #5E685E;
}

tr.listitemhighlighted td {
    border-bottom-color: #EDEDED;
    background-color: #EDF9FF;
    color: #45535b;
}

tr.underline td {
    border-bottom-color: #808080;
}

tr.listselected td {
    border-bottom-color: #EDEDED;
    border-right-color: #EDEDED;
    background-color: #C8C8C8;
    color: #45535b;
}

tr.listselected td.borderright {
    border-bottom-color: #EDEDED;
    border-right-color: #EDEDED;
    background-color: #C8C8C8;
    color: #45535b;
}

tr.listitemeven td {
    border-bottom-color: #EDEDED;
    border-right-color: #EDEDED;
    background-color: #CDDECA;
    color: #45535b;
}

tr.listitemuneven td {
    border-bottom-color: #EDEDED;
    border-right-color: #EDEDED;
    background-color: #FFFFFF;
    color: #45535b;
}

tr.listitemeven td.borderright {
    border-bottom-color: #EDEDED;
    border-right-color: #EDEDED;
    background-color: #000000;
    color: #45535b;
}

tr.listitemuneven td.borderright {
    border-bottom-color: #EDEDED;
    border-right-color: #EDEDED;
    background-color: #FFFFFF;
    color: #45535b;
}
.litle-msg
{
    font-size:12px;
    color:#AAA;
    
}
/**************NUEVO ***********/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


ul {list-style-type: none;}

a {
    color: #1396e1; 
    text-decoration: none;
}

.clearfix:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    clear: both;
}

/** ==========================================
 * Contendor Principal 
 =============================================*/
 .main-wrapper {
    display: block;
    margin: 50px auto 40px;
    width: 960px;
 }

 .main-wrapper input[type="radio"] {
    display: none;
 }

 /* Titulo 
 ---------------------*/
 .main-title {
    color: #242424;
    font: 400 3.2em 'Open Sans', Arial, Sans-serif, Verdana;
    text-align: center;
 }

 .main-title a {
    color: #1396e1;
    font-size: 0.5em;
    font-weight: 700;
 }

 /* Lista de Categorias 
 --------------------------------------------*/
 .list-category {
    display: block;
    text-align: center;
    margin-top: 20px;
 }

.list-category li {
    display: inline-block;
    font-size: 1.6em;
}

.list-category label {
    display: inline-block;
    color: #E5E5E5;
    cursor: pointer;
    background: #3e4257;
    -webkit-box-shadow: inset 0 -2px 0 rgba(0,0,0,0.25);
    box-shadow: inset 0 -2px 0 rgba(0,0,0,0.25);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 12px 16px;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

/* Imagenes / En este caso divs de colores :C
 --------------------------------------------------*/
 .list-images {
    color: #000;
    display: block;
    margin-top: 40px;
    text-align: center;
 }

 .list-images li {
    opacity: 0.3;
    width: 200px;
    height: 120px;
    margin: 5px;
    display: inline-block;
    border: 4px solid #FFF;
    -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.15);
    box-shadow: 0 0 0 1px rgba(0,0,0,0.15);
    color: #FFF;
    font-size: 1.5em;
    font-weight: 700;
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
 }

.list-images li span {
    position: relative;
    top: 40px;
}

.list-images .type-consultorias {background: #3fab91;}
.list-images .type-tecnicos {background: #ffbb45;}
.list-images .type-contratos {background: #db559a;}
.list-images .type-intelectual {background: #994356;}

/* Estilos cuando un radio esta seleccionado
 --------------------------------------------------*/
#all:checked ~ .list-category label[for="all"],
#tecnicos:checked ~ .list-category label[for="tecnicos"], 
#contratos:checked ~ .list-category label[for="contratos"], 
#consultorias:checked ~ .list-category label[for="consultorias"], 
#type-intelectual:checked ~ .list-category label[for="intelectual"] {
    background: #1396e1;
    color: #FFF;
}

/* Filtramos las clases mediante el selector ~
 --------------------------------------------------*/
#all:checked ~ .list-images li {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

#tecnicos:checked ~ .list-images .type-tecnicos,
#contratos:checked ~ .list-images .type-contratos,
#consultorias:checked ~ .list-images .type-consultorias,
#intelectual:checked ~ .list-images .type-intelectual {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}